@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #section-A {
        display: inline-block;
        font-size: 0;
        margin: 0 auto;
}
    
    #section-A h1 {
        /* padding-top: 50px;
        padding-bottom: 30px; */
        font-size: 26px;
        color: #333;

        padding: 0;
        margin: 30px 0;
    }

    .bloco {
        display: inline-block;
        width: 49%;
        font-size: 17px;
        padding: 0;
        margin: 0;
      }
      

    #section-A > div.bloco p {
        margin: 0px;
        margin-bottom: 20px;
        padding: 20px;

        text-align: justify;
        line-height: 1.3;
    }

    #paragraph {
        padding: 0;
    }

    #section-B {
        /* padding: 0; */
        width: 100%;
        padding: 0;
        /* padding: 20px; */
    }

    .img {
        width: 28%;
        display: inline-block;
        /* margin: 10px; */
    }

    .img > h2 {
        color: #333;
        font-size: 20px;
        /* padding-top: 30px; */
        margin: 0;
        padding: 0;
    }

    .img > p {
        color: #333;
        font-size: 16px;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #section-contact {
        display: inline-block;
        font-size: 0;
    }

    .aside {
        display: inline-block;
        width: 50%;
        font-size: 16px;
        /* padding: 10px; */
    }

    .aside > p {
        /* padding: 15px; */
        padding: 0;
        margin: 0;
        text-align: justify;
        font-size: 1.1em;
    }

    .aside > h1 {
        /* padding: 20px 0; */
        padding: 0;
        margin: 0;
    }

    #section-contact .contact {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    #section-B {
        display: inline-block;
    }

    .img {
        display: inline-block;
        width: 30%;
        /* margin: 0px 10px; */
    }

    .img > p {
        padding: 0;
        margin: 0;
    }
}