@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #section-A {
        display: inline-block;
        font-size: 0;
        margin: 0 auto;
}
    
    #section-A h1 {
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: 26px;
        color: #333;
    }

    .bloco {
        display: inline-block;
        width: 50%;
        height: 150px;
        font-size: 20px;
    }

    #section-A > .bloco > p {
        padding: 20px;
    }

    #paragraph {
        padding-bottom: 0;
    }

    #section-B {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 500px;
        padding: 20px;
    }

    .img {
        width: 29%;
        height: 430px;
        font-size: 0;
        display: inline-block;
        margin: 10px;
    }

    .img > h2 {
        color: #333;
        font-size: 22px;
        padding-top: 30px;
    }

    .img > p {
        color: #333;
        font-size: 16px;
        text-align: center;
    }

    #section-contact {
        display: inline-block;
        font-size: 0;
    }

    .aside {
        display: inline-block;
        width: 50%;
        height: 250px;
        font-size: 16px;
        overflow: auto;
        padding: 10px;
    }

    .aside > p {
        padding: 15px;
        margin: 0;
        text-align: justify;
        font-size: 1.1em;
    }

    .aside > h1 {
        padding: 20px 0;
    }

    #section-contact .contact {
        text-align: center;
    }
}

@media screen and (min-width: )