@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    color: white;
}

/* header */
header {
    width: 100%;
    height: 450px;
}

header > .bg-img {
    background-color: #333;
    background-image: url(img/coding.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 100%;
    height: 450px;
    position: absolute;
    z-index: -1;
    opacity: 0.88;
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* aqui o 0.5 representa a transparência */
    z-index: 1;
}

#headerA {
    text-align: center;
}

#headerA > h1 {
    padding-top: 100px;
    padding-bottom: 25px;
}

#headerA > p {
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
}

.bloco {
    color: #333;
    padding: 0px 40px;
}

#paragraph {
    padding-bottom: 40px;
}

button#btn {
    width: 178px;
    height: 68px;
    border: 1px solid #666;
    background-color: #333;
    color: white;
    font-size: 1.1em;
    margin-top: 25px;
    padding: 5px;
}

button#btn a {
    text-decoration: none;
    color: white;
}

/* Começando o conteúdo: section-A*/
#section-A {
    width: 100%;
    background-color: rgb(209, 204, 204);
}

#section-A h1 {
    color: #333;
    padding-top: 30px;
    padding-bottom: 50px;
}

#section-A p {
    padding: 10px;
    text-align: center;
}

/* section-B */

#section-B {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;

    background-color: #333;
}

#section-B img {
    width: 100%;
}

.img {
    background-color: white;
    margin-bottom: 20px;
}

.img > h2 {
    padding-top: 40px;
    padding-bottom: 30px;
    color: #333;
    font-size: 1.3em;
}

.img > p {
    padding: 20px;
    padding-bottom: 50px;
    color: #333;
    font-size: 1.2em;
}

/* section-C */
#section-C {
    text-align: center;
}

#section-C > h1 {
    color: #333;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 50px;
}

#section-C > p {
    color: #333;
    font-size: 1.2em;
    padding: 20px;
    padding-bottom: 50px;
}

/* section-Contact */

#section-contact > .aside:first-child {
    background-color: #2690d4;
}

.aside {
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
}

.aside > h1 {
    padding-top: 50px;
}

.aside > p {
    font-size: 1.2em;
    padding: 47px;
}

/* Footer */
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 40px;
    font-size: 1.1em;
}

#footer-part {
    padding-top: 10px;
}

#footer-part a {
    color: #2690d4;
    text-decoration: none;
}