@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* header */

header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 460px;
    
    background-image: url(img/coding.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;

    color: whitesmoke;
}

header h1 {
    padding-top: 100px;
    font-size: 2em;
}

header p {
    padding: 1.7em 0;
    width: 55%;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5;
}

.btn {
    padding: 1.3em 3em;
    margin: 0.5em 0;
    border: 1px solid #666;
}

.btn:hover {
    background-color: #666;
    color: white;
    transition: .4s;
    cursor: pointer;
    border: 1px solid white;
}

.secao1 {
    background-color: #eaeaea;
    color: #333;
}

/* secao 1 */

.secao1 h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.secao1 p {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    max-width: 960px;
    text-align: justify;
    margin: 0 auto;

    font-size: 1.3em;
    line-height: 1.5;
    padding-bottom: 30px;
}

/* secao main */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    align-items: center;
    padding: 30px 0;

    background-color: #333;
}

.artic {
    background-color: white;
    width: 20%;
}

.main img {
    width: 100%;
}

.main p {
    color: #333;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 50px;
    padding: 10px; /*remover depois.*/
}

.main h2 {
    color: #333;
    margin: 50px 0;
}

/* secao 2 */
.secao2 h1 {
    padding: 70px 0px 60px 0px;
    color: #333;
}

.secao2 p {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #333;
    padding-bottom: 50px;
}

/* footer */
footer div.contato {
    display: flex;
}

div.contato article {
    margin: 0 auto;
    width: 50%;
    color: #eaeaea;
    background-color: #2690d4;
}


div.contato h1 {
    padding: 40px 0 0 0;
}

div.contato p {
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}



/* .email {
    padding: 30px 0;
} */

div.contato article:first-child {
    background-color: #333;
}

/* secao 3 */
.secao3 {
    background-color: black;
    color: #eaeaea;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 100px;
    font-size: 1.2em;
}

.Felilpz a {
    color: aqua;
    text-decoration: none;
    font-weight: bold;
}

.Felilpz a:hover {
    color: #2690d4;
    transition: .3s;
}

/* media queries */
@media screen and (max-width: 699px) {
    /* header */
    header p {
        width: 70%;
        color: whitesmoke;
    }

    /* secao1 */
    .secao1 p {
        font-size: 1em;
        padding: 20px;
    }

    /* main */
    .main {
        flex-direction: column;
    }

    .main article.artic {
        width: 100%;
    }

    /* footer contato */
    .contato {
        flex-direction: column;
    }

    div.contato article {
        width: 100%;
    }

    .contato article > p {
        padding: 40px 0;
    }
}

@media screen and (max-width: 1200px) {
    /* header */
    header p {
        width: 80%;
        color: whitesmoke;
    }

    /* secao 1 */
    .secao1 p {
        padding: 20px;
        font-size: 1.2em;
    }

    /* main */
    section.main {
        gap: 1em;
    }

    section.main > article {
        width: 23%;
    }

    section.main p {
        font-size: 1em;
        padding: 10px;
        text-align: center;
    }
} 